body {
  background: $c-white;
  color: $c-black;
}

img,
svg,
iframe {
  max-width: 100%;
  display: block;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 64px;
  @media (max-width: 500px) {
    padding: 0 32px;
  }
  @media (max-width: 370px) {
    padding: 0 16px;
  }
}

.inner-narrow {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 64px;
  // @media (max-width: 500px) {
  //   padding: 0 32px;
  // }
  @media (max-width: 370px) {
    padding: 0 32px;
  }
}

.no-format {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.button {
  display: inline-block;
  background: $c-black;
  color: $c-white;
  text-decoration: none;
  padding: 8px 20px;
  text-align: center;
  border-radius: 20px;
  font-size: 1.8rem;
  &:hover,
  &:focus {
    color: $c-white;
    text-decoration: underline;
  }
  &:focus {
    outline-offset: 4px;
  }
  &:active,
  &:visited {
    color: $c-white;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
