body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  @media (min-width: 750px) {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

h1,
h2,
h3,
.h3,
h4,
.h3 .f-ui {
  font-family: "Roboto", sans-serif;
}

.f-ui {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  margin: 0 0 32px;
  line-height: 1.1;
  font-weight: 600;
  @media (min-width: 750px) {
    font-size: 3.6rem;
  }
  @media (min-width: 992px) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 4rem;
  margin: 0 0 64px;
  font-weight: 600;
  @media (max-width: 750px) {
    font-size: 2.6rem;
    margin: 0 0 32px;
  }
}

h3,
.h3 {
  font-size: 2rem;
  font-weight: 600;
  @media (min-width: 750px) {
    font-size: 2.2rem;
  }
}

h4,
.h4 {
  font-size: 1.8rem;
  font-weight: 600;
  @media (min-width: 750px) {
    font-size: 2rem;
  }
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.p1 {
  font-size: 1.4rem;
  line-height: 1.8;
  @media (min-width: 750px) {
    font-size: 1.6rem;
  }
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  color: $c-black;
}

.eyebrow {
  font-size: 1.6rem;
  margin: 0;
  color: $c-black-light;
  text-transform: uppercase;
  font-weight: 300;
}
