body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
.f-ui {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.f-ui {
  font-weight: 400;
}

h1 {
  font-size: 6.4rem;
  margin: 8px 0 32px;
  line-height: 1.1;
  font-weight: 600;
  @media (max-width: 750px) {
    font-size: 4.8rem;
  }
}

h2 {
  font-size: 4.6rem;
  margin: 0 0 64px;
  font-weight: 600;
  @media (max-width: 750px) {
    font-size: 3.2rem;
  }
}

h3,
.h3 {
  font-size: 2.4rem;
  font-weight: 600;
  @media (max-width: 750px) {
    //font-size: 2.4rem;
  }
}

h4,
.h4 {
  font-size: 2.2rem;
  font-weight: 600;
  @media (max-width: 750px) {
    //font-size: 1.6rem;
  }
}

a {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.p1 {
  font-size: 2rem;
  line-height: 1.8;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  color: $c-black;
}

.eyebrow {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin: 0;
  color: $c-black-light;
  text-transform: uppercase;
  font-weight: 300;
}
