$c-white: #ffffff;
$c-black: #272727;
$c-black-light: #707070;
$c-grey: #0009;
$c-grey-mid: #f2f2f2;
$c-grey-light: #f7f5f5;
$c-grey-light-extra: #fafafa;

$c-yellow: #fecc5f;
$c-yellow-light: #fadc9b;
$c-yellow-light-extra: #ffebc1;

$c-gold-dark: #ba8437;

$c-nuxt-green: #00db82;
